/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
button {
  color: var(--accent-color-1);
  font-family: var(--font-family);
  background-color: transparent;
  cursor: pointer;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

p {
  color: var(--accent-color-1);
  font-family: var(--font-family-variable);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-paragraph-bolder);
  line-height: 21.3px;
}


.page {
  width: clamp(320px, 91vh, 1440px);
  background-image: var(--background-header);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 100px auto;
}

.header {
  min-height: 364px;
  width: 100%;
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
  border: 2px solid var(--accent-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 23px;
  margin-bottom: 105px;
  padding-bottom: 20px;
}

.header__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center
}

.title,
.under__title {
  font-weight: var(--font-weight-paragraph);
  font-family: var(--font-family);
  text-transform: uppercase;
}

.title {
  font-size: var(--font-size-header);
}

.under__title {
  font-size: var(--font-size-postheader);
}

.theme-menu__list {
  display: flex;
  padding-left: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.theme-menu__button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-paragraph);
  border: transparent;
  text-transform: uppercase;
  transition: 0.3s;
}
.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  position: relative;
}

.theme-menu__button::before {
  content: "▶";
  position: absolute;
  left: -16px;
  opacity: 0.6;
  animation: left-right-move 0.5s infinite ease-in-out;
  animation-direction: alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  height: 2px;
  background-color: var(--elements-accent-color);
}

.watermark {
  position: absolute;
  top: 19px;
  right: 26px;
  font-family: var(--font-family);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-watermark);
  color: var(--accent-color-1);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--accent-color-2);
  line-height: normal;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

.posts {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-color-2);
  outline: 2px solid var(--accent-color-1);
}

.post__title {
  color: var(--accent-color-1);
  font-family: var(--font-family-variable);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-pretitle-bolder);
  padding-left: 10px;
  min-height: 34px;
  display: flex;
  align-items: center;
}

.image__container {
  position: relative;
  outline: 2px solid var(--accent-color-1);
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1 / 1;
}

.text-post__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

.card__icon-button {
  padding: 0;
}

.card__like-button {
  position: relative;
  overflow: hidden;
  background-color: var(--background-button); 
  padding: 10px 20px;
  border: 2px solid var(--accent-color-1);
  cursor: pointer;
  font-size: 16px;
  min-width: 130px;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color-1);
  transition: left 0.3s ease-in-out;
}

.card__like-button:hover::before {
  left: 0;
}

.card__like-button .button__text {
  position: relative;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.button__text:hover {
  color: var(--color-letter-button);
}

.main__footer {
  display: flex;
  justify-content: center;
}

.footer__button {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--accent-color-2);
  min-height: 51px;
  border: 2px solid var(--accent-color-1);
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--accent-color-1, #000);
}

.dialog {
  width: calc(100vw * (352 / 1440));
  min-width: 341px;
  border: 2px solid var(--accent-color-1);
  padding: 30px;
  background: var(--accent-color-2);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: black;
}

.dialog__warning {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 38px;
  padding: 9px 17px;
}

.text_save {
  font-family: var(--font-family);
  color: var(--accent-color-1);
}

.button__text-save {
  border: 2px solid var(--accent-color-1);
    display: block;
    padding: 9px 17px;
}

.sparks {
  opacity: 0;
}

@media (width <= 450px) {
  .page {
    width: 100%;
    min-width: 320px;
  }
}