/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --favicon-color: #FFF;
    --accent-color-1: #00CC14;
    --accent-color-2: #000;
    --background-button: #000;
    --color-letter-button: #000;
    --animation-color:#ff0000;
    --background-header: url(../images/background.png);
    --font-weight-pretitle-bolder: 785;
    --font-weight-paragraph-bolder: 465;
}

:root.theme-light {
    --accent-color-1:#000;
    --accent-color-2:#FFF;
    --background-button: #FFF;
    --color-letter-button: #FFF;
    --animation-color: #ff0000;
    --background-header: url(../images/background-light.png);
    --font-weight-pretitle: 700;
    --font-weight-paragraph: 400;

    @media (prefers-color-scheme: light) {
        :root {
            --accent-color-1: #000;
            --accent-color-2: #FFF;
            --color-letter-button: #FFF;
            --background-button: #FFF;
            --animation-color: #ff0000;
            --background-header: url(../images/background.png);
            --font-weight-pretitle: 700;
            --font-weight-paragraph: 400;
            
        }
    }
}
